@import "../../styles/utils/variables";

.instagram-feed {
  background-color: #fff;
}

.instagram-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  position: relative;
  &:before {
    @include pseudo-overlay;
    background: $color-teal;
    background: linear-gradient(160deg, $color-salmon 20%, $color-teal 60%, $color-secondary 90%);
    opacity: 0.6;
    z-index: 1;
  }
}

.instagramOverlay {
  color: $color-white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  display: table;
  opacity: 75%;
  a {
    color: $color-white;
    font-family: $font-copy;
    font-weight: 200;
    display: table-cell;
    font-size: 3rem;
    vertical-align: middle;
  }
  svg {
    vertical-align: text-bottom;
  }
}
.instagram-item {
  
  img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
