@import "../../styles/utils/variables";

.hero {
  height: 90vh;
}

.heroBg {
  background-color: #ff0000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.heroBody {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.heroInfoCard {
  position: relative;
  padding: 10px 0.75rem;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    width: 110%;
    height: 100%;
    transform: translateX(-50%);
    border: 2px solid $color-white;
  }
}

.heroSocialmedia {
  position: absolute;
  right:0;
  top: 0;
  transform: translateY(-25%);
  z-index: 5;
}

.heroSubtitle {
  color: $color-white;
  font-size: 2.5rem;
  font-weight: 200;
}

.heroTitle {
  font-family: $fontHeader;
  font-size: 4rem;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}