@import '../../styles/utils/variables';

.portfolioItem {
  flex: 0 0 28%;
  margin: 10px 2% 50px;
  position: relative;
}

.portfolioItemTitle {
  background-color: $color-primary;
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 70%;
  min-width: 200px;
  padding: 1.5rem 1rem;
  z-index: 1;
  h3 {
    color: $color-white;
    font-weight: bold;
    text-align: left;
  }
}