@import "../../styles/utils/variables";

.toTop {
  background-color: $color-secondary;
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: 0;
  right: 3%;
  transition: bottom 100ms ease;
  z-index: 100;
  a {
    display: block;
    line-height: normal;
    padding: 8px 20px 4px;
  }
  svg {
    color: $color-dark;
  }
}