@mixin pseudo-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// XS
@mixin xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

// SM
@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

// md
@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

// LRG
@mixin lrg {
  @media (max-width: #{$screen-lrg}) {
    @content;
  }
}

// XL
@mixin xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

