@import "../../styles/utils/variables";

.open {
  background-color: #ff0000;
}
.open .accIcon {
  svg {
    transform: rotate(90deg);
  }
}
.accIcon {
  svg {
    vertical-align: middle;
    transition: translate 0.2s ease;
  }
}

.experienceAccordion {
  text-align: left;
}
.experienceAccordionContent {
  display: none;
  visibility: hidden;
}

.open .experienceAccordionContent {
  display: block;
  visibility: visible;
}

.experienceItem {
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 110% 15px;
  padding: 1.25rem 10% 1.25rem 1.25rem;
  position: relative;
  width: 45%;
  &:after {
    content: "";
  }
  &:nth-of-type(2n+1) {
    
  }
  &:nth-of-type(2n) {
    align-self: flex-end;
    background-position: -10% 15px;
    text-align: right;
    padding-left: 10%;  
    padding-right: 1.25rem;
  }
  &:not(:first-of-type) {
    margin-top: -75px;
  }
}

.experienceTitle {
  font-weight: bold;
  font-variant: small-caps;
  font-family: $font-header;
  font-size: 1.25rem;
}

.experienceTraits,
.experienceSkills {
  text-align: left;
}

.experienceSkills {
  li {
    display: inline-block; 
    margin-right: 0.75em;
    position: relative;
    &:not(:last-child):after {
      content: ","
    }
  }
  // background-color: rgba(0, 0, 0, 0.1);
}

.experienceTraits {
  li {

  }
}