@import "../../styles/utils/variables";

.open {
  background-color: #ff0000;
}
.open .accIcon {
  svg {
    transform: rotate(90deg);
  }
}
.accIcon {
  svg {
    vertical-align: middle;
    transition: translate 0.2s ease;
  }
}

.companyLogo {
  position: absolute;
  top: 0px;
  right: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  > div {
    position: absolute;
    top: 15px;
    right: -7%;
    width: 50%;
    max-width: 200px;
    opacity: 0.3;
  }
}

.experienceAccordion {
  text-align: left;
}
.experienceAccordionContent {
  display: none;
  visibility: hidden;
}

.open .experienceAccordionContent {
  display: block;
  visibility: visible;
}

.experienceItem {
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 110% 15px;
  margin-bottom: 2rem;
  padding: 3.25rem 10% 1.25rem 1.25rem;
  position: relative;
  width: 65%;
  &:after {
    content: "";
    position: absolute;
    
  }
 
  &:nth-of-type(2n) {
    align-self: flex-end;
    background-position: -10% 15px;
    text-align: right;
    padding-left: 10%;
    padding-right: 1.25rem;
    .companyLogo div:first-child{
      left: -7%;
    }
  }
}

.experienceRange,
.experienceDescription {
  position: relative;
  z-index: 2;
}

.experiencePopout {
  background-color: $color-secondary;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  position: absolute; 
  top: -20px;
  left: -30px;
}

.experienceItem:nth-of-type(2n) {
  .experiencePopout {
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    right: -30px;
    left: auto;
  }
}

.experienceTitle {
  font-weight: bold;
  font-variant: small-caps;
  font-family: $font-header;
  font-size: 1.25rem;
}

.experienceTraits,
.experienceSkills {
  text-align: left;
}

.experienceSkills {
  li {
    display: inline-block; 
    margin-right: 0.75em;
    position: relative;
    &:not(:last-child):after {
      content: ","
    }
  }
}
