@import "../../styles/utils/variables";

.socialmedia {
  display: flex;
  flex-direction: row;
  ul li {
    display: inline-block;
  }
}

.socialmediaIcon {
  margin: 1em;
  opacity: 0.75;
  transition: opacity 0.5s ease, transform 0.5s ease, color 0.5s ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
    svg {
      color: $primary-accent;
    }
  }
}
.socialmediaIcon svg{
  color: #ffffff;
  font-size: 1.75em;
  transition: color 0.2s ease;
}

.socialmedia.socialmediaVertical ul li {
  display: block;
}

