.socialmedia {
  display: flex;
  flex-direction: row;
  ul li {
    display: inline-block;
  }
}
.socialmediaIcon {
  margin: 1em;
}
.socialmediaIcon svg{
  color: #ffffff;
  font-size: 2em
}

.socialmedia.socialmediaVertical ul li {
  display: block;
}