@import "../../styles/utils/variables";

.aboutSection {
  padding: 0 0 10vh
}

.aboutCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse; 
  position: relative;
  width: calc(100% - 50px);
  max-width: 1100px;
  margin: -10vh auto 0;
  &:before {
    content: '';
    position: absolute;
    bottom: -$offset;
    right: -$offset;
    border-bottom: 175px solid $primary-accent;
    border-left: 150px solid transparent;
  }
}

.aboutContent {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}

.aboutPortrait {
  flex-basis: 65%;
}
