.aboutSection {
  margin: -10vh auto 0;
  max-width: 900px;
}

.aboutCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}

.aboutContent {
  z-index: 2;
}

.aboutPortrait {
  width: 100%;
}
