@import "../../styles/utils/variables";

.experienceList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4rem auto 0;
  max-width: $content-max;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: 3.5rem;
}

.experienceDescription {
  margin-top: 1rem;
  text-align: justify;
}

.experienceItemContainer {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 500%;
    height: 75px;
    background-color: $color-secondary;
    top: 50%;
    left: -100%;
    transform: translateY(calc(-50% - 2rem));
    z-index: 0;
  }
}

.experienceModule {
  background-color: $color-primary;
  padding: 2.5rem 40px 5rem;
  h2 {
    margin-left: 0;
  }
}

.experienceResumeBtn {
  text-align: center;
}

.experienceResume {
  display: inline-block;
}